#navbar
  background: $deep-gray
  overflow: hidden
  position: fixed
  top: 0
  
.main-nav
  display: flex

  li
    list-style: none
    margin-left: 7rem
  a
    color: $blue-slate
    display: block
    border-radius: 5px
    padding: 15px 30px
    text-decoration: none
    font-family: 'Audiowide'
    font-weight: 900
    font-size: 35px
    text-transform: uppercase
    &:hover,
    &:focus
      color: $shamrock-green
.nav-link
  margin-top: 1.5rem
